<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemma-9b Layer 11 Features</title>
    <script src="https://cdn.plot.ly/plotly-2.20.0.min.js"></script>
    <style>
        body {
            margin: 0;
            display: flex;
            height: 100vh; 
        }

        #left-panel {
            width: 100%; 
            padding: 10px;
            border-right: 2px solid #ccc;
        }
        #scatter-plot {
            flex-grow: 1
        }
    </style>
</head>
<body>
    <div id="left-panel">
        <h1>Gemma-9b Layer 11 Features</h1>
        <div id="mode">
            <label for="dropdown"></label>
            <select id="dropdown" name="dropdown">
              <option value="option1" selected>Gemma-9b Layer 11 </option>
              <option value="option2">Gemma-9b Layer 12</option>
              <option value="option3">Gemma-9b Layer 20</option>
            </select>
        </div>
        <div id="scatter-plot"></div>
    </div>
    <!-- <div id="right-panel">
        <iframe id="feature-frame" src="features/2502" title="Feature Details"></iframe>
    </div> -->

    <script>
        const scatterData = {{ scatter_data|tojson }};

        const x = scatterData.map(point => point.x);
        const y = scatterData.map(point => point.y);
        const links = scatterData.map(point => `features/${point.feature}`)

        const trace = {
            x: x,
            y: y,
            mode: 'markers',
            type: 'scatter',
            marker: { size: 10, color: 'blue' },
            text: links, 
            hovertemplate: 'Go to %{text}'
        };

        const layout = {
            xaxis: {
                showgrid: false,
                zeroline: false,
                showticklabels: false,
                title: '',
                automargin: true, 
                range: [0, 15], 
                responsive: true  
            },
            yaxis: {
                showgrid: false,
                zeroline: false,
                showticklabels: false,
                title: '',
                automargin: true, 
                range: [0, 16], 
                responsive: true 
            },
            hovermode: 'closest',
        };
        const config = {
            responsive: true // Make the plot dynamically resize
        };

        Plotly.newPlot('scatter-plot', [trace], layout, config);
        document.getElementById('scatter-plot').on('plotly_click', function(eventData) {
            const pointIndex = eventData.points[0].pointIndex;
            const link = links[pointIndex]; 
            window.open(link, '_blank');
        });
    </script>
</body>
</html>